.card {
    height: 80%;
    min-width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

img {
    width: 100%;
    height: 80%;
}

p {
    margin: 0 auto;
    padding-top: 8px;
}

.moving-next {
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.moving-prev {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}